{
  "extends": ["airbnb-base", "prettier", "plugin:jest/recommended", "plugin:jest/style"],
  "env": {
    "jest": true
  },
  "rules": {
    "import/no-unresolved": [0],
    "import/no-extraneous-dependencies": [0],
    "implicit-arrow-linebreak": [0],
    "max-classes-per-file": [0]
  },
  "settings": {
    "import/resolver": {}
  },
  "plugins": ["jest"],
  "overrides": [
    {
      "files": ["*.test.js"],
      "rules": {
        "global-require": [0]
      }
    }
  ]
}
